html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

.map-info {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.map-info img.img-summernav {
	width: 185px;
	height: auto;
	margin: auto;
}

.map-info h3 {
	width: 100%;
	font-size: 1.4em;
	line-height: 1.4em;
	font-weight: bold;
	text-align: center;
	margin: 0;
	margin-top: 1em;
}

.map-info h4 {
	width: 100%;
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: bold;
	text-align: center;
	margin: 0;
	margin-bottom: 1em;
}

.map-info ul {
	list-style-type: none;
	padding: 0;
	width: 100%;
}

.map-info li {}

.map-info ul li.notice {
	padding-top: 1em;
	font-style: italic;
	font-size: 0.7em;
	text-align: center;
}

.map-info h5 {
	color: #757575;
	margin: 0;
	font-size: 0.7em;
	text-transform: uppercase;
}

.map-info ul li span.detail {
	text-align: right;
	font-weight: bold;
	display: block;
}

.map-info ul li span.notes {
	text-align: right;
	display: block;
}

.map-info ul li.g-calendar-button {
	text-align: center;
}


/* hide the mdl main layout obfuscator shown when menu is open */

.mdl-layout__obfuscator.is-visible {
	opacity: 0;
}
