html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	flex-wrap: wrap;
}

.nav-date {
	display: block;
	width: 100%;
	background-color: #ff5722;
	color: white;
	text-align: center;
}

.nav-name {
	display: block;
	width: 100%;
	text-align: center;
}

.map-main {
	height: 100%;
}

.map-info {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}


/*
 * Use wrapper around image to resize and maintain aspect ratio
 * reference: https://www.kirupa.com/html5/preserve_an_image_aspect_ratio_when_resized.htm
 */

.map-info .img-holder {
	width: 125px;
	margin: 0 auto;
}

.map-info img.img-summernav {
	width: 100%;
	height: auto;
}

.map-info h3 {
	width: 100%;
	font-size: 1.4em;
	line-height: 1.4em;
	font-weight: bold;
	text-align: center;
	margin: 0;
	margin-top: 0.2em;
}

.map-info h4 {
	width: 100%;
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: bold;
	text-align: center;
	margin: 0;
}

.map-info ul {
	list-style-type: none;
	padding: 0;
	width: 100%;
}

.map-info li {}

.map-info ul li.notice {
	font-style: italic;
	font-size: 0.7em;
	text-align: center;
}

.map-info h5 {
	color: #757575;
	margin: 0;
	font-size: 0.7em;
	text-transform: uppercase;
}

.map-info .detail {
	text-align: right;
	font-weight: bold;
	display: block;
}

.map-info .notes {
	text-align: right;
	display: block;
}

.map-info .g-calendar-button {
	text-align: center;
}

.map-info ul.busstops li {
	display: flex;
	justify-content: space-between;
}

.map-info ul.busstops li span.busstops-code {
	display: block;
	flex-grow: 1;
}

.map-info ul.busstops li span.busstops-address {
	display: block;
	flex-grow: 2;
	font-size: 0.8em;
	text-align: center;
}

.map-info ul.busstops li span.busstops-distance {
	display: block;
	flex-grow: 1;
	font-size: 0.8em;
	color: black;
	font-style: italic;
	text-align: right;
}

.map-info .error-text {
	font-style: italic;
}

.map-info .button-holder {
	margin: 0 auto;
}

.neighbourhood-map-spinner {
	padding: 1em;
}

.neighbourhood-map-spinner .spinner-wrapper {
	width: 50px;
	margin: 4em auto;
}

.loadingWaitDisplayed {
	display: block;
}

.loadingWaitHidden {
	display: none;
}


/* hide the mdl main layout obfuscator shown when menu is open */

.mdl-layout__obfuscator.is-visible {
	opacity: 0;
}


/* override mdl button formatting to increase in height and allow lowercase */

.neighbourhood-map .mdl-button {
	height: auto;
	min-height: 36px;
	text-transform: capitalize;
}

.menu-event-details-disabled {
	display: none;
}

.event-info-window {
	text-align: center;
	min-width: 120px;
}

.event-info-window .name {
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: bold;
	margin: 0;
}

.event-info-window .date {
	background-color: #ff5722;
	color: white;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
	padding-top: 2px;
	padding-bottom: 2px;
}
