html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	flex-wrap: wrap;
}

.nav-date {
	display: block;
	width: 100%;
	background-color: #ff5722;
	color: white;
	text-align: center;
}

.nav-name {
	display: block;
	width: 100%;
	text-align: center;
}

.map-main {
	height: 100%;
}

.page-content {
	margin-right: 5px;
}

.map-info {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	list-style-type: none;
}

/*
 * Use wrapper around image to resize and maintain aspect ratio
 * reference: https://www.kirupa.com/html5/preserve_an_image_aspect_ratio_when_resized.htm
 */

.event-img-holder {
	width: 125px;
	margin: 0 auto;
}

.event-img-holder img {
	width: 100%;
	height: auto;
}

.map-info h3 {
	width: 100%;
	font-size: 1.4em;
	line-height: 1.4em;
	font-weight: bold;
	margin: 0;
	margin-top: 0.2em;
	text-align: center;
}

.map-info h4 {
	width: 100%;
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: bold;
	text-align: center;
	margin: 0;
}

.map-info li {
	text-align: center;
	flex-grow: 1;
	padding: 0 10px 0 10px;
	margin: 5px;
}

.notice {
	font-style: italic;
	font-size: 0.7em;
	text-align: center;
}

.map-info h5 {
	color: #757575;
	font-style: italic;
	margin: 0;
	font-size: 0.7em;
	text-transform: capitalize;
	text-align: left;
}

.map-info .detail {
	text-align: center;
	font-weight: bold;
	display: block;
}

.map-info .notes {
	text-align: center;
	display: block;
}

.map-info .g-calendar-button {
	text-align: center;
}

.busstops {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
	list-style-type: none;
}

.busstops li {
	padding: 0;
	margin: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #757575;
}

.busstops li span.busstops-code {
	display: block;
	background-color: #757575;
	color: white;
	font-weight: bold;
	flex-grow: 1;
}

.busstops li span.busstops-address {
	display: block;
	flex-grow: 2;
	font-size: 0.8em;
	text-align: center;
	padding: 0 5px 0 5px;
}

.busstops li span.busstops-distance {
	display: block;
	flex-grow: 1;
	font-size: 0.8em;
	color: black;
	font-style: italic;
	text-align: right;
	padding: 0 5px 0 5px;
}

.g-calendar-button {
	margin: 5px;
	padding: 5px;
}

.map-info .error-text {
	font-style: italic;
}

.map-info .button-holder {
	margin: 0 auto;
}

.neighbourhood-map-spinner {
	padding: 1em;
}

.neighbourhood-map-spinner .spinner-wrapper {
	width: 50px;
	margin: 4em auto;
}

.loadingWaitDisplayed {
	display: block;
}

.loadingWaitHidden {
	display: none;
}


/* Map infoWindow */

.event-info-window {
	text-align: center;
	min-width: 120px;
}

.event-info-window .name {
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: bold;
	margin: 0;
}

.event-info-window .date {
	background-color: #ff5722;
	color: white;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
}


/* override mdl button formatting to increase in height and allow lowercase */

.neighbourhood-map .mdl-button {
	height: auto;
	min-height: 36px;
	text-transform: capitalize;
}

.menu-event-details-disabled {
	display: none;
}


/* hide the mdl main layout obfuscator shown when menu is open */

.mdl-layout__obfuscator.is-visible {
	opacity: 0;
}


/* Adjust MDL List of Events to reduce vertical spacing */

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
	padding-top: 2px;
	padding-bottom: 2px;
}


/* Adjust MDL Event Tab Menu to allow Ripple to overflow text area */

.mdl-layout__tab .mdl-layout__tab-ripple-container {
	overflow: visible;
}

.event-close {
	color: white;
	display: block;
	line-height: 48px;
}
